{% extends "base.html" %}
{% block title %}Edicción de Cuentas de usuario{% endblock %}
{% block content %}
<img src="https://th.bing.com/th/id/OIP.kuMiUgm7U3XazP3wHD-bHwAAAA?rs=1&pid=ImgDetMain" alt="sala" class="imagen3">

<div class="safe">
    <div class="texto-superpuesto0">
    <h1>Ediccion de cuentas de usuario</h1>
    <p>Puedes utilizar el siguiente formulario:</p>
    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ cliente_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Guarda los cambios"></p>
    </form>
</div>
</div>

{% endblock %}