{% extends "base.html" %}
{% block title %}Reporte de Ventas{% endblock %}
{% block content %}

<img src="https://th.bing.com/th/id/OIP.kuMiUgm7U3XazP3wHD-bHwAAAA?rs=1&pid=ImgDetMain" alt="sala" class="imagen3">
<div class="texto-superpuesto0">

<h2>Reporte de Ventas</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Generar Reporte</button>
</form>

{% if ventas %}
    <h3>Ventas del {{ form.fecha_inicio.value }} al {{ form.fecha_fin.value }}</h3>
    
    <div class="resultados">
      <h2><b>Resultados de la Busqueda </b></h2>
      <table class="table" border="1px">
       <thead>
        <tr>
          <td><b>Producto</b></td>
          <th><b>Usuario</b></th>
          <td><b>Cantidad</b></td>
          <td><b>Sub-Total</b></td>
        </tr>
      </thead>
      <tbody>
        {% for venta in ventas %}
            <tr>
                <td>{{ venta.producto.nomProduct }}</td>
                <td>{{ venta.usuario.username }}</td>
                <td>{{ venta.cantidad }}</td>
                <td>${{ venta.total_venta }}</td>           
            </tr>
        {% endfor %}
    </tbody>
  </table>
    

{% endif %}
{% endblock %}
