{% load static %}
{% load carro_extras %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar pedido</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
    <script src="{% static 'miMuebleria/js/app.js' %}"></script>
</head>
<body onload="deshabilitaRetroceso()">
    <table onload="deshabilitaRetroceso()" class="table table-bordered" style="color: rgb(22, 21, 21);" >
        <thead>
            <tr>
                <th colspan="4" class="text-center">
                    Artículos Seleccionados
                </th>
            </tr>
            <tr>
                <th>Agregar/Quitar</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody class="mitabla">
            <!-- Comprueba si hay productos en el carro-->
            {% if request.session.carro and request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                    <tr class="text-center">
                        <td>
                            <form method="post" action="{% url 'carro:agregar_producto' key %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success">+</button>
                            </form>
                            <form method="post" action="{% url 'carro:disminuir_producto' key %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">-</button>
                            </form>
                        </td>
                        <td> {{ value.nombre }}</td>
                        <td> {{ value.stock }}</td>
                        <td>$ {{ value.stock|multiply:value.precio }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">
                        <div class="alert alert-danger text-center">
                            Sin productos seleccionados
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right total_carro">
                    Total: ${{ importe_total_carro }}
                </td>
            </tr>
            {% if request.session.carro.items %}
            <tr>
                <td colspan="2" style="text-align: center;">
                    <form method="post" action="{% url 'almacen:procesar_pedido' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" style="background-color: rgb(180, 95, 95); border-color:  rgb(180, 95, 95);">Realizar pedido</button>
                     
                    </td>
                </td>
            </tr>
           {% endif %} 
        </tfoot>
    </table>

</body>
</html>
