{% load static %}

<div class="col-lg-3">
    <div class="card text-center shadow" style="height: 500px; margin: 5px 5px;">
        {% if producto.imagen1 %}
            <img src="{{ producto.imagen1.url }}" alt="{{ producto.nomProduct }}" class="card-img-top" style="height: 40%;">
            {% if producto.descuento > 0 %}
                <div class="etiqueta">{{ producto.descuento }} %</div>
            {% endif %}
        {% else %}
            <img src="{% static 'path/to/default-image.jpg' %}" alt="Imagen no disponible" class="card-img-top" style="height: 40%;">
            {% if producto.descuento > 0 %}
                <div class="etiqueta">{{ producto.descuento }} %</div>
            {% endif %}
        {% endif %}
        <div class="card-body">
            <h6 class="card-title text-primary lead">{{ producto.nomProduct }}</h6>
            {% if producto.descuento > 0 %}
                <p class="lead text-secondary">
                    <del>$ {{ producto.precio }}</del><br>$ {{ producto.precio_descuento }}
                </p>
            {% else %}
                <p class="lead text-secondary">$ {{ producto.precio }}</p>
            {% endif %}
        </div>

        <div class="card-footer text-center">
            <form method="post" action="{% url 'carro:agregar_producto' producto.id %}">
                {% csrf_token %}
                {% if producto.stock > 0 %}
                    <button type="submit" class="btn btn-success" style="background-color: rgb(180, 95, 95); border-color: rgb(180, 95, 95);">Agregar</button>
                {% else %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ producto.id }}" style="background-color: gray; border-color: black;">
                        Agotado
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop-{{ producto.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel-{{ producto.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel-{{ producto.id }}">Producto Agotado</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Lo sentimos, ya no contamos con stock del producto. Pronto tendremos más.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>