{% extends "base.html" %}
{% load static %}
{% block title %}Productos{% endblock %}
{% block content %}
<center>
<div class="row g-0 text-center">
        <!-- Widget del carrito -->
        <div class="col-6 col-md-4 neutro" style="background-color:azure;" >
            <div class="sticky-top">
                    {% for producto in productos %}
                            {% if producto.categorias_id == 1 %}
                                <h3>sillones</h3>
                            {% elif producto.categorias_id == 0 %}
                                <h3>clasicos</h3>
                            {% else %}
                                <h3> otros </h3>
                            {% endif %}
                        {% endfor %}

                {% if request.user.is_authenticated %}
                    {% include "carro/widget.html" %}
                {% else %}
                   <div class="alert alert-danger text-center">
                     Inicia sesión para realizar tu pedido
                   </div> 
                {% endif %}

            </div>
        </div>    
    
        <!-- Productos -->
        <div class="col-sm-6 col-md-8 neutro" >
            <div class="row" style="height: max-content;">
                                {% for producto in productos %}
                <div class="col-lg-3">
                    <div class="card text-center shadow" style="height: 500px; margin: 5px 5px;">
                        {% if producto.imagen1 %}
                            <img src="{{ MEDIA_URL }}{{ producto.imagen1.url }}" alt="{{ producto.nomProduct }}" class="card-img-top" style="height: 40%; display:block;">
                            {% if producto.descuento > 0 %}
                            <div class="etiqueta"> {{producto.descuento }} % </div>  <!-- Etiqueta de descuento -->
                            {% endif %}
                        {% else %}
                            <img src="{% static 'path/to/default-image.jpg' %}" alt="Imagen no disponible" class="card-img-top" style="height: 40%; display:block;">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title text-primary lead">
                                {{ producto.nomProduct }}
                            </h6>
                            {% if producto.descuento > 0 %}
                                <p class="lead text-secondary">
                                    <del>$ {{ producto.precio }}</del> <!-- Precio original tachado -->
                                    <br> $ {{ producto.precio_descuento }}
                                </p>
                            {% else %}
                                <p class="lead text-secondary">$ {{ producto.precio }}</p> 
                            {% endif %}
                        </div>
                    <div class="contenedor">
                        <div class="sub1" style="height: 30%; width:30%; margin: 5px 5px;">
                            {% if producto.imagen1 %}
                            <img src="{{ MEDIA_URL }}{{ producto.imagen1.url }}" alt="{{ producto.nomProduct }}" class="card-img-top" >
                            {% else %}
                            <img src="{% static 'path/to/default-image.jpg' %}" alt="Imagen no disponible" class="card-img-top" style="height: 40%">
                            {% endif %}
                        </div>
                        <div class="sub1" style="height: 30%; width:30%; margin: 5px 5px;">
                            {% if producto.imagen2 %}
                            <img src="{{ MEDIA_URL }}{{ producto.imagen2.url }}" alt="{{ producto.nomProduct }}" class="card-img-top" >
                            {% else %}
                            <img src="{% static 'miMuebleria\media\logos\numero2.png' %}" alt="Imagen no disponible" class="card-img-top" style="height: 40%">
                        {% endif %}
                        </div>
                        <div class="sub1" style="height: 30%; width:30%; margin: 5px 5px;">
                            {% if producto.imagen3 %}
                            <img src="{{ MEDIA_URL }}{{ producto.imagen3.url }}" alt="{{ producto.nomProduct }}" class="card-img-top" >
                            {% else %}
                            <img src="{% static 'miMuebleria\media\logos\numero3.png' %}" alt="Imagen no disponible" class="card-img-top" style="height: 40%">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <form method="post" action="{% url 'carro:agregar_producto' producto.id %}">
                            {% csrf_token %}
                             {% if producto.stock > 0 %}
                            <button type="submit" class="btn btn-success" style="background-color: rgb(180, 95, 95); border-color: rgb(180, 95, 95);">Agregar</button>
                            {% else %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: gray ; border-color: black ;">
                                        Agotado
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto Agotado</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>lo sentimos ya no contamos con stock del producto, pronto tendremos mas</p> 
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                           
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
</div>
</center>
{% endblock %}



