{% extends "base.html" %}
{% block title %}Acceder{% endblock %}
{% block content %}
    <h1 class="mt-5">Acceder</h1>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Tu nombre de usuario y contraseña no coinciden. Por favor, intentalo de nuevo.
        </div>
    {% else %}
        <p>Por favor, utiliza el siguiente formulario para ingresar:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary mt-3">Log-in</button>
        </form>
        <p class="mt-3">
            <a href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a>
        </p>
    </div>
{% endblock %}