{% extends "base.html" %}
{% block title %}Reincio de tu contraseña{% endblock %}
{% block content %}
<img src="https://th.bing.com/th/id/OIP.kuMiUgm7U3XazP3wHD-bHwAAAA?rs=1&pid=ImgDetMain" alt="sala" class="imagen3">

<div class="safe">
    <div class="texto-superpuesto0">
    <h1>Reinicio de contraseña</h1>
    <p>Te hemos enviado un correo electrónico con las instrucciones para configurar tu contraseña.</p> 
    <p>Si no recibes el correo, asegúrate de que has introducido la dirección con la que te registraste.</p>
    </div>
</div>
    {% endblock %}   