{% extends "base.html" %}
{% block title %}Reincio de contarseña{% endblock %}
{% block content %}
<table>
    <tr>
        <td class="safe">
            <img src="https://th.bing.com/th/id/OIP.kuMiUgm7U3XazP3wHD-bHwAAAA?rs=1&pid=ImgDetMain" alt="sala" class="imagen3">
        <div class="texto-superpuesto0">
    <h1>Olvidaste tu contraseña?</h1>
    <p>Ingresa tu correo electronico para obtener tu nueva contraseña.</p>
    <form method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Envio "></p>
        {% csrf_token %}
    </form>
</div>
</td>
</tr>
</table>
{% endblock %}