{% extends "base.html" %}
{% block title %}Reincio de contraseña{% endblock %}
{% block content %}
    <h1>Reincio de contraseña</h1>
    {% if validlink %}
        <p>Por favor ingresa tu nueva contraseña:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Cambio de contraseña"></p>
        </form>
        {% else %}
            <p>La contraseña de reincio es invalida, porque ya ha sido utilizad, Por favor, ingrese una nueva contraseña</p>  
    {% endif %}
{% endblock %}
