{% extends "base.html" %}
{% block title %}Reincio de contarseña{% endblock %}
{% block content %}
<img src="https://th.bing.com/th/id/OIP.kuMiUgm7U3XazP3wHD-bHwAAAA?rs=1&pid=ImgDetMain" alt="sala" class="imagen3">
<div class="texto-superpuesto0">
    <h1>Olvidaste tu contraseña?</h1>
    <p>Ingresa tu correo electronico para obtener tu nueva contraseña.</p>
    <form method="post">
        {{ form.as_p }}
        <p><button value="Envio" class="opc">Enviar</button></p>
        {% csrf_token %}
    </form>
</div>

{% endblock %}
