.login-form{
    justify-content: center;
    color: gray;
    background-color: bisque;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.protect{
    width: 100%;
    justify-content: center;
}
.safe{
    width: 100%;
    margin-left: 25%;
    text-align: left;
    justify-content: left;
}
.texto-superpuesto0 {
    position: absolute; /* Posiciona el texto absolutamente dentro del contenedor */
    top: 25%; /* Centra verticalmente el texto */
    font-size: 24px; /* Tamaño de la fuente */  
    text-align: center; /* centrar texto */
    width: 50%;
}
.imagen3{
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: 100%;/* Mantener la proporción de la imagen */
    display: block;  /* Eliminar el espacio en línea alrededor de la imagen */
}
.mt-5{
    justify-content: center;
    text-align: center;
    color: blueviolet;
    width: 50%;
    margin-left: 25%;
}
.safe p{
    color: blueviolet;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;

}
.inicio{
    width: 100%;
}
.info-usuario{
    color: orange;
    text-align: center;
    font-size: small;

}
.texto-superpuesto-conf {
    /* position: absolute;  Posiciona el texto absolutamente dentro del contenedor */
    top: 25%; /* Centra verticalmente el texto */
    font-size: 24px; /* Tamaño de la fuente */  
    text-align: center; /* centrar texto */
    background-color: rgba(73, 137, 201, 0.5);
}
.tabla-superpuesto{
    position: absolute;
    justify-content: center;
    top:25%;
    text-align: center;

}


.columna-arreglada{
    margin-top: 50px;
    position: fixed;
    z-index: 1000;
    padding: 50px;
    background-color: aqua;
    width: 120%;
    height: 1000px;
}

.productos{
    color: black;
    background-color: antiquewhite;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-collapse:collapse ;
}
.organizador{
    padding: 0%;
    justify-content: center;
    text-align: center;
    background-color: azure;
}
.contenedor{
    display: flex;
    justify-content: space-between;
}
.sub1{
    flex:1;
    text-align: center;
    background-color: aliceblue;
}
.texto-superpuesto-edit {
    position: absolute; /* Posiciona el texto absolutamente dentro del contenedor */
    font-size: 24px; /* Tamaño de la fuente */  
    text-align: center; /* centrar texto */
    width: 50%;
    top: 25%;
    justify-content: center;
    margin-left: 25%;
    margin-top: -50px;
    height: max-content;
}

.opc{
    border: 5px;
    border-radius: 12px;
    background-color: #98FB98;
    justify-content: center;
    text-align: center;
}
.opc1{
    border: 5px;
    border-radius: 12px;
    background-color: #87CEEB;
    justify-content: center;
    text-align: center;
}
.opc2{
    border: 5px;
    border-radius: 12px;
    background-color: #FF6F6F;
    justify-content: center;
    text-align: center;
}
.neutro{
    padding: 0%;
    justify-content: center;
    text-align: center;
}
.etiqueta {
    position: absolute; /* Posiciona la etiqueta de forma absoluta respecto al contenedor */
    top: 0; /* Coloca la etiqueta en la parte superior del contenedor */
    left: 0; /* Coloca la etiqueta en la parte izquierda del contenedor */
    background-color: red; /* Color de fondo de la etiqueta */
    color: white; /* Color del texto de la etiqueta */
    padding: 5px 10px; /* Espaciado interno de la etiqueta */
    font-size: 14px; /* Tamaño de la fuente del texto de descuento */
    font-weight: bold; /* Hace el texto en negrita */
    transform: translate(-60%, 40%) rotate(-45deg); /* Ajusta la posición y rota la etiqueta para crear el efecto de triángulo */
    transform-origin: 0 0; /* Ajusta el punto de origen de la rotación */
    border-radius: 3px; /* Bordes redondeados de la etiqueta */
    
}
.registro table{
    padding: 0px;
    border: 0px;
    margin-bottom: -10px;
    background-color:rgba(0, 0, 0, 0) ;
    display: flex;
}


.mi-boton{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 15px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width:180px ;
    height:30px;
    font-size: small;
    background-color: #b10005;
    color: white;
    border: 0ch;
}
.fechas{
    width: max-content;
    height: max-content;
    margin-left: 40px;
}
.fechas td{
    padding: 5px;
    width: 150px;
    height: 39px;
}
.buscar{
    width: max-content;
    height: max-content;
    margin-left: 30px;
}

.registro{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    padding: 0px;
    margin-left: 200px;
    margin-top: -10px;
    margin-bottom: 100px;
    justify-content: center;
    justify-items: center;
    width: 40%;
    height: 300px;  
    position:relative;
}
.resultados{
     background: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    padding: 0px;
    justify-content: center;
    justify-items: center;
    height: 400px;
    overflow-y: scroll;
    padding:10px;
    border: 1px solid #ccc;
}
.scroll{
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
    
}
.texto-superpuesto-edit2 {
    position: absolute; /* Posiciona el texto absolutamente dentro del contenedor */
    font-size: 24px; /* Tamaño de la fuente */  
    text-align: center; /* centrar texto */
    width: max-content;
    top: 25%;
    justify-content: center;
    margin-left: 35%;
    margin-top: -50px;
    height: max-content;
    background: rgba(255, 255, 255, 0.5);
}