.login-form{
    justify-content: center;
    color: gray;
    background-color: bisque;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.protect{
    width: 100%;
    justify-content: center;
}
.safe{
    width: 50%;
    margin-left: 25%;
    text-align: left;
    justify-content: left;
}
.texto-superpuesto0 {
    position: absolute; /* Posiciona el texto absolutamente dentro del contenedor */
    top: 25%; /* Centra verticalmente el texto */
    font-size: 24px; /* Tamaño de la fuente */  
    text-align: center; /* centrar texto */
    width: 50%;
    color: white;
}
.imagen3{
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: 1000px;/* Mantener la proporción de la imagen */
    display: block;  /* Eliminar el espacio en línea alrededor de la imagen */
}
.mt-5{
    justify-content: center;
    text-align: center;
    color: blueviolet;
    width: 50%;
    margin-left: 25%;
}
.safe p{
    color: blueviolet;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;

}
.inicio{
    width: 100%;
}
.info-usuario{
    color: orange;
    text-align: center;
    font-size: small;

}
.texto-superpuesto-conf {
    /* position: absolute;  Posiciona el texto absolutamente dentro del contenedor */
    top: 25%; /* Centra verticalmente el texto */
    font-size: 24px; /* Tamaño de la fuente */  
    text-align: center; /* centrar texto */
    background-color: rgba(73, 137, 201, 0.5);
}
.tabla-superpuesto{
    position: absolute;
    justify-content: center;
    top:25%;
    text-align: center;

}
.categorias{
    color: black;
    background-color: azure;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-collapse:collapse ;
}

.productos{
    color: black;
    background-color: antiquewhite;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-collapse:collapse ;
}
.organizador{
    padding: 0%;
    justify-content: center;
    text-align: center;
    background-color: azure;
}
.contenedor{
    display: flex;
    justify-content: space-between;
}
.sub1{
    flex:1;
    text-align: center;
    background-color: aliceblue;
}
