<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <!-- Metadatos básicos para el documento HTML -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bloque para el título de la página, que puede ser sobrescrito por plantillas hijas -->
    
    <!-- Enlace al archivo CSS usando el tag 'static' de Django -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'miMuebleria/css/base.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- Encabezado de la página -->
   <div class="menu">
        <table class="tabla1">
            <tr>
                <td><img src="https://seeklogo.com/images/U/umbra-logo-BD30354E21-seeklogo.com.png" style="width: 40px; height: 40px;"></td>
                <td style="width: 50%;"></td>
                <td><a href="{% url 'home' %}">HOME</a></td>
                <td><a href="{% url 'tienda' %}">PRODUCTS</a></td>
                <td><a href="#">ACCESSORIES</a></td>
                <td><a href="#">LOOKBOOK</a></td>
                <td><a href="#">BLOG</a></td>
                <td><a href="#">CONTACT</a></td>
                <td style="width: 50%; text-align: right;"><input type="text" id="buscar" required placeholder="Muebles"></td>
                <td><button><img src="{% static 'miMuebleria/media/logos/search.png' %}" alt="Buscar"></button></td>
                <td><button><img src="{% static 'miMuebleria/media/logos/heart.png' %}" alt="Favoritos"></button></td>
                <td><button onclick="togglemenu()"><img src="{% static 'miMuebleria\media\perfil.png' %}"></button>
                    <div id="menu" class="menu">
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Registrarse</a>
                    </div>
                    <script>
      
    //   <!-- Saludo y enlace de autenticación -->
    //     <span class="user">
    //         {% if request.user.is_authenticated %}
    //             <!-- Mostrar saludo al usuario autenticado -->
    //             Hola {{ request.user.first_name|default:request.user.username }},
    //             <!-- Enlace para cerrar sesión -->
    //             <a href="{% url 'logout' %}">Cerrar sesión</a>
    //         {% else %}
    //             <!-- Enlace para iniciar sesión si el usuario no está autenticado -->
    //             <a href="{% url 'login' %}">Acceder</a>
    //         {% endif %}
    //     </span>


        function toggleMenu() {
            var menu = document.getElementById("menu");
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menud.style.display = "block";
            }
        }

        // Cerrar el menú si se hace clic fuera de él
        window.onclick = function(event) {
            if (!event.target.matches('button')) {
                var menu = document.getElementById("menu");
                if (menu.style.display === "block") {
                    menu.style.display = "none";
                }
            }
        }
    </script>
                </td>
                <td><button><img src="{% static 'miMuebleria/media/logos/bag.png' %}" alt="Carrito"></button></td>
            </tr>
        </table>
    </div>
      
    
   
    <!-- Contenido principal de la página -->
    <div id="content">
        <!-- Bloque de contenido que puede ser sobrescrito por plantillas hijas -->
        {% block content %}
        {% endblock %}
    </div>
    <!-- Pie de pagina-->
     <div class="piep">
        <center>
            <table class="tabla2" style="width: 80%;">
                <tr>
                    <th style="width: 20%;"> UMBRA FURNITURE</th>
                    <th style="width: 15%;">OPENING TIME</th>
                   
                    <th style="width: 10%;">ABOUT</th>
                    <th style="width: 10%;">ACCOUNT</th>
                </tr>
                <tr>
                    <td>
                        <ul class="no-puntos gris espaciado">
                            <li>We are a global housewares product design company. We bring thought and creativity to everyday items through original design</li>
                            <li><b>A</b> 1001 Milacian Crest Street, Paris France</li>
                            <li><b>T</b> +(084) 888-6789</li>
                            <li><b>M</b> contact@Umbra.com</li>
                        </ul>
                    </td> 
                    <td>
                        <ul class="no-puntos gris espaciado">
                            <li>Mon-Fri: 8AM-10PM</li>
                            <li>Sat: 9AM-8PM</li>
                            <li>Sun: Closed</li>
                            <li>We Work All The Holidays</li>
                        </ul>
                    </td>
                   
                    <td>
                        <ul class="no-puntos gris espaciado">
                            <li>About Us</li>
                            <li>Shopping Guide</li>
                            <li>Delivery Information</li>
                            <li>Privacy Policy</li>
                            <li>Our Store</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="no-puntos gris espaciado">
                            <li>My Account</li>
                            <li>Wishlist</li>
                            <li>Order Tracking</li>
                            <li>Shipping Info</li>
                            <li>Return Policy</li>
                        </ul>
                    </td>
                </tr>
            </table>
        
            <table class="negocios">
                <tr>
                    <td><img src="{% static 'miMuebleria/media/logos/paypal_PNG6.png' %}" style="width: 80px; height: 40px;" alt="Paypal"></td>
                    <td><img src="{% static 'miMuebleria/media/logos/american-express.png' %}" style="width: 80px; height: 30px;" alt="American Express"></td>
                    <td><img src="{% static 'miMuebleria/media/logos/amazon.png' %}" style="width: 80px; height: 40px;" alt="Amazon"></td>
                    <td><img src="{% static 'miMuebleria/media/logos/visa-logo-1.png' %}" style="width: 80px; height: 30px;" alt="Visa"></td>
                </tr>
            </table>
            <p style="color: gray;">Copyright &#9400 Umbra. Design by NooTheme. All rights reserved</p>
        </center>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
    
</html>



