{% extends "base.html" %}

{% load static %}

{% block content %}


<body>
<div class="container">
   
    <div class="slide">
        <div class="slide-inner">
            <input class="slide-open" type="radio" id="slide-1" 
                  name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item">
                <img src="{% static 'miMuebleria\media\sillones\sillon.jpg' %}" style="width: 100%; height: 100%;">
            </div>
            <input class="slide-open" type="radio" id="slide-2" 
                  name="slide" aria-hidden="true" hidden="">
            <div class="slide-item">
                <img src="{% static 'miMuebleria\media\sillones\sillon2.jpg' %}" style="width: 100%; height: 100%;">
            </div>
            <input class="slide-open" type="radio" id="slide-3" 
                  name="slide" aria-hidden="true" hidden="">
            <div class="slide-item">
                <img src="{% static 'miMuebleria\media\sillones\sillon3.jpg' %}" style="width: 100%; height: 100%;">
            </div>
            <label for="slide-3" class="slide-control prev control-1">‹</label>
            <label for="slide-2" class="slide-control next control-1">›</label>
            <label for="slide-1" class="slide-control prev control-2">‹</label>
            <label for="slide-3" class="slide-control next control-2">›</label>
            <label for="slide-2" class="slide-control prev control-3">‹</label>
            <label for="slide-1" class="slide-control next control-3">›</label>
            <ol class="slide-indicador">
                <li>
                    <label for="slide-1" class="slide-circulo">•</label>
                </li>
                <li>
                    <label for="slide-2" class="slide-circulo">•</label>
                </li>
                <li>
                    <label for="slide-3" class="slide-circulo">•</label>
                </li>
            </ol>
        </div>
    </div>
    <div class="collage">
        <table border="0">
           
            <tr>
                <td class="text1" style="width: 25%; background-color: #e8e4e4; color: #795548;"><h1>OUTDOOR FURNITURE SYDNEY</h1><A>VIEW DETAIL</A></td>
                <td class="img2" style="width: 25%; background-color: aliceblue;"><img src="{% static 'miMuebleria\media\collage\taburete.png' %}" ></td>
                <td class="text3" style="width: 25%; background-color: rosybrown; color: #db0075;"><h1>DESING BY UMBRA MODERN 2015</h1><a>VIEW DETAIL</a></td>
                <td class="img3" style="width: 25%; height: 20px; background-color: rosybrown;"><img src="{% static 'miMuebleria\media\collage\sillon-horizontal.png' %}" ></td>

            </tr>
            <tr>
                <td class="img1" style="width: 25%; background-color: #e8e4e4;"><img src="{% static 'miMuebleria\media\collage\silla-vertical.png' %}" style="width: 90%;"></td>
                <td colspan="2" class="img4" style="background-color: #d0eaee;">
                    <table class="interna">
                        <tr>
                          <td>  
                            <H1 style="color: #5000ff;">CERAMICS JOSH HERMAN</H1>
                            <a style="color: #5000ff;">VIEW DETAIL</a>
                          </td>  
                          <td>
                            <img src="{% static 'miMuebleria\media\collage\jarrones.png' %}" style="width: 100%;">
                          </td>  
                        </tr>
                    </table>
                </td>
                <td class="img5" style="background-color: aliceblue; width:25%;"><img src="{% static 'miMuebleria\media\collage\frutero.png' %}" style="width: 90%;"></td>

            </tr>
        </table>
    </div>
    <div class="top-products">
        <h1>TOP PRODUCTS</h1>
        <A style="font-size: x-large;"><i>the best of 2024</i></A>
<p> aqui se generarar los productos de la base de datos</p>
<div class="vertical-container">
    <p class="vertical-text">UMBRA FURNITURE</p>
</div>

    </div>
    
    <table class="contact0">
        <tr>
            <td class="azul">
                <img src="{% static 'miMuebleria\media\collage\sillon-oferta.jpg' %}" alt="sillon cafe" class="imagen0">
                <div class="texto-superpuesto0">
                    <h1>HOT DEALS THIS WEEK</h1>
                    <a>on the other hand,we denounce with righteous indignation and dislike men who are so beguiled and demoralized </a>
                    <br>
                    <button type="submit"><b>SHOP NOW ></b></button>
                </div>  
            </td>
            <td class="blanco">
                <div class="sub1">
                    <h1>SALE UP 50%</h1>
                    <figure>
                    <img src="{% static 'miMuebleria\media\collage\sillon-oferta-sinfondo.png' %}"class="azul" alt="FRITZ HANSEN BROWN SOFA">
                    <figcaption><b>FRITZ HANSEN BROWN SOFA</b></figcaption>
                    <a> Classic Sofa</a>
                    </figure>
                    <a style="color: #efb810;font-size:25px;"><b> &#8364 520.00 </b></a><a style="color: #efb810; font-size:20px;"><del><b> &#8364 750.00</b></del></a>
                </div>
                    <br>
                    <br>
                <div class="sub2">
                    <div class="sub"><img src="{% static 'miMuebleria\media\sillones\taburete.png' %}"></div>
                    <div class="sub"><img src="{% static 'miMuebleria\media\sillones\sillon-amarillo.png' %}"></div>
                    <div class="sub"><img src="{% static 'miMuebleria\media\sillones\sillon-blanco.png' %}"></div>
                    <div class="sub"><img src="{% static 'miMuebleria\media\sillones\sillon-rayas.png' %}"></div>
                </div>
            </div>
            </td>
        </tr>
    </table>
    <center>
    <div class="life-style">
    <table class="columnas">
        <tr>
            <td colspan="3" class="cabesal">

            </td>
        </tr>
      <tr>
        <td class="columna1"></td>
        <td class="columna2">
           
          <table class="ta">
            <tr>
                <td colspan="2">
                    <h1>FURNITURE BLOG</h1>
                    <a >Lastest News of Week</a>
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'miMuebleria\media\sillones\sillones.jpg' %}"></td>
                <td class="life">
                    <a>LIFE STYLE</a>
                    <H3>Underground Apartment In Barcelona</H3>
                    <p>Lorem Ipsum is simply dummy text of the rinting and typesetting indus try.Lorem Ipsum has been the industrys standard dummy text ever since the 1500s. when an unknown printer took...</p>
                    <button>READ MORE ></button>
                </td>
            </tr>
            <tr>
                <td class="life">
                    <a>LIFE STYLE</a>
                    <H3>Underground Apartment In Barcelona</H3>
                    <p>Lorem Ipsum is simply dummy text of the rinting and typesetting indus try.Lorem Ipsum has been the industrys standard dummy text ever since the 1500s. when an unknown printer took...</p>
                    <button>READ MORE ></button>
                </td>
                <td><img src="{% static 'miMuebleria\media\sillones\sala.jpg' %}"></td>
            </tr>
          </table>
        </td>
        <td class="columna3">    <p class="vertical-text2">CRETIVE DESIGN</p>
        </td>
      </tr>  
      <tr>
        <td colspan="3" class="piepag"></td>
      </tr>
    </table>
    </div>
    </center>
    <div class="collage2">
        <table>
            <tr>
                <td class="bl"></td>
            </tr>
        </table>
        <div class="accesorio"><img src="{% static 'miMuebleria\media\collage\mesa.jpg' %}"></div>
        <div class="accesorio"><img src="{% static 'miMuebleria\media\collage\banca-silla.jpg' %}"></div>
        <div class="accesorio"><img src="{% static 'miMuebleria\media\collage\maceta.jpg' %}"></div>
        <div class="accesorio"><img src="{% static 'miMuebleria\media\collage\poste.jpg' %}"></div>
        <div class="accesorio"><img src="{% static 'miMuebleria\media\collage\bancas.jpg' %}"></div>
        <table>
            <tr>
                <td class="bl"></td>
            </tr>
        </table>
    </div>
    <table class="contact">
        <tr>
            <td class="email">
                <img src="{% static 'miMuebleria\media\collage\email-fondo.jpg' %}" alt="banner-traje" class="imagen">
                <div class="texto-superpuesto">
                    <h2>SUBSCRIBE EMAIL</h2>
                    <a>Get latest news & update from Umbra</a>
                    <BR>
                        <input type="text" placeholder="Enter Your Email Address" style="width: 100%;height:35px; padding: 0%;">
                </div>
            </td>
            <td class="info">
                <img src="{% static 'miMuebleria\media\collage\lampara.jpg' %}" alt="banner-lampara" class="imagen">
                <div class="texto-superpuesto2">
                <a><b>DIANA ROSIE</b>-Cretive Designer </a>
                <br>
                <br>
                <br>
                <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industrys standard dummy text..."</p>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
    </table>
</div>    
</body>
{% endblock %}